<h2><%= @library.branch_name%> Branch Library</h2>
<h3><%= @library.system_name%> System </h3>
<p>Public Computers: <%= @library.num_public_computers %></p>
<p>This branch <%= if @library.has_study_rooms == true
                      "has"
                  else 
                    "doesn't have" 
                  end
                  %> study rooms. </p>
<p> Number of Books: <%= @count %></p>
<p><%= link_to "Browse books at #{@library.branch_name} Branch Library", "/libraries/#{@library.id}/books", method: :get %></p>
<p><%= link_to "Edit Library", "/libraries/#{@library.id}/edit", method: :get %></p>
<p><%= button_to "Delete Library", "/libraries/#{@library.id}", method: :delete %></p>

