<h1> All The Books! </h1>
<% @books_on_shelf.each do |book| %>
  <p><%= link_to "Title: #{book.title}", "/books/#{book.id}", method: :get %></p>
  <h3>Author: <%= book.author %></h3>
  <p> Available for checkout: <%= if book.on_shelf == true
                                    "yes"
                                  else 
                                    "no"
                                  end %></p>
  <p>Checkouts this year: <%= book.ytd_circ %></p>
  <p>Barcode: <%= book.barcode %></p>
  <p>Owner: <%= book.library.branch_name %> Branch Library</p>
  <p><%= link_to "Edit #{book.title}", "/books/#{book.id}/edit", method: :get %></p>
  <p><%= button_to "Delete #{book.title}", "/books/#{book.id}", method: :delete %></p>
<% end %>