<p><a href="/libraries">All Libraries</a> | <a href="/books">All Books</a>
<h1> All The Books! </h1>
<% @books_on_shelf.each do |book| %>
  <h2>Title: <%= book.title %></h2>
  <h3>Author: <%= book.author %></h3>
  <p> Available for checkout: <%= if book.on_shelf == true
                                    "yes"
                                  else 
                                    "no"
                                  end %></p>
  <p>Checkouts this year: <%= book.ytd_circ %></p>
  <p>Barcode: <%= book.barcode %></p>
  <p>Owner: <%= (Library.find_by(id: book.library_id)).branch_name %> Branch Library</p>
  <p><%= link_to "Edit #{book.title}", "/books/#{book.id}/edit", method: :get %></p>
<% end %>