<p><a href="/libraries">All Libraries</a> | <a href="/books">All Books</a>
<h1> <%=@library.branch_name%> </h1>
<h2> <%=@library.system_name%> </h2>
<% @library_books.each do |book| %>
<h3>Title: <%= book.title %></h3>
  <h3>Author: <%= book.author %></h3>
  <p> Available for checkout: <%= if book.on_shelf == true
                                    "yes"
                                  else 
                                    "no"
                                  end %></p>
  <p>Checkouts this year: <%= book.ytd_circ %></p>
  <p>Barcode: <%= book.barcode %></p>
  <p><%= link_to "Edit #{book.title}", "/books/#{book.id}/edit", method: :get %></p>
<% end %>
<%= form_with url: "/libraries/#{@library.id}/books", method: :get, local: true do |form| %>
  <%= form.label :ytd_circ, "Filter books by mimum number of circulations" %> <br>
  <%= form.number_field :ytd_circ %> <br>
  <%= form.submit "Filter Books" %>
<% end %>
<p><%= link_to "Sort All Books by Author", "/libraries/#{@library.id}/books?sort_author=true", method: :get %></p>
<p><%= link_to "Add Book", "/libraries/#{@library.id}/books/new", method: :get %></p>


